<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>表单组合</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
	</head>
	<body>

		<div class="layui-fluid">
			<div class="layui-card">
				
				<div class="layui-card-body" style="padding: 10px;">
					<form class="layui-form" action="" lay-filter="component-form-group">
						
						<div class="layui-form-item">
							<label class="layui-form-label">id</label>
							<div class="layui-input-block">
								<input type="text" name="meetid" lay-verify="required"
								 placeholder="请输入" autocomplete="off" class="layui-input id" disabled>
							</div>
						</div>

						<div class="layui-form-item">
							<label class="layui-form-label">会议名</label>
							<div class="layui-input-block">
								<input type="text" name="meetname" lay-verify="required"
								 placeholder="请输入" autocomplete="off" class="layui-input meetname">
							</div>
						</div>
						
						<div class="layui-form-item">
							<label class="layui-form-label">会议地点</label>
							<div class="layui-input-block">
								<input type="text" name="meetaddress" lay-verify="required"
								 placeholder="请输入" autocomplete="off" class="layui-input meetaddress">
							</div>
						</div>
						
						<div class="layui-form-item">
							<label class="layui-form-label">会议规则</label>
							<div class="layui-input-block">

							<select name="meetgz" lay-verify="gz" class="meetgz">
								<option value="">请选择</option>
								<option  selected = "selected" value="快速规则">快速规则</option>
								<option value="标准规则">标准规则</option>
							</select>
							</div>

						</div>
						
						
						
						<div class="layui-form-item">
						  <label class="layui-form-label">会议时间</label>
						  <div class="layui-input-block">
						    <input type="text" class="layui-input meettime" name="time" id="test-laydate-type-datetime" placeholder="yyyy-MM-dd HH:mm:ss">
						  </div>
						</div>

						<div class="layui-form-item layui-layout-admin">
							<div class="layui-input-block">
								<div class="layui-footer" style="left: 0;">
									<button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
									<button type="reset" class="layui-btn layui-btn-primary">重置</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>


		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script src="../../../layuiadmin/layui/arrange/arrangeman/frombj.js" type="text/javascript" charset="utf-8"></script>

	</body>
</html>
